<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">E-Commance</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation" style="color: white;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll" [ngSwitch]="Menutype">
            <ul [ngSwitch]="Menutype" class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" *ngSwitchCase="'default'" routerLink="/">Home</a>
                    <a class="nav-link" aria-current="page" *ngSwitchCase="'user'" routerLink="/">Home</a>
                    <a class="nav-link" routerLink="seller-auth" *ngSwitchCase="'seller'">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/seller-auth/" *ngSwitchCase="'default'">Seller</a>
                    <a class="nav-link" aria-current="page" routerLink="seller-add-product" *ngSwitchCase="'seller'">Add Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" *ngSwitchCase="'default'">About Us</a>
                    <a class="nav-link" href="#" *ngSwitchCase="'user'">About Us</a>
                    <a class="nav-link" routerLink="seller-product-list" *ngSwitchCase="'seller'">Product List</a>
                </li>
            </ul>
            <form class="d-flex" role="search" *ngSwitchCase="'default'">
                <input class="form-control me-2" type="search" placeholder="Search" 
                (keyup)="SerachProduct($event)" aria-label="Search" (blur)="hideSearch()">
                <button class="btn btn-outline-success" >Search</button>
           
            <ul class="suggested_result navbar-nav" *ngIf="Searchresult">
                <li *ngFor="let item of Searchresult" class="nav-item">
                    <a class="nav-link suggested" (click)="Search(item.id)">{{item.name}}</a>
                </li>

            </ul>
        </form>
            <div [ngSwitch]="Menutype">
                <ul *ngSwitchCase="'default'" class="navbar-nav my-lg-0 navbar-nav-scroll nav-right">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/user-auth/">Login/Sign-up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cart(0)</a>
                    </li>
                </ul>
                <ul *ngSwitchCase="'user'" class="navbar-nav my-lg-0 navbar-nav-scroll nav-right">
                    <li class="nav-item">
                        <a class="nav-link" style="cursor: pointer;" (click)="logout()">Logout</a>
                    </li>
                    <li class="nav-item">
                        <h2 class="nav-link mt-1" style="color: blueviolet;">er{{UserName| titlecase}}</h2>
                    </li>
                </ul>
                <ul *ngSwitchCase="'seller'" class="navbar-nav my-lg-0 navbar-nav-scroll nav-right">
                    <li class="nav-item">
                        <a class="nav-link" style="cursor: pointer;" (click)="logout()">Logout</a>
                    </li>
                    <li class="nav-item">
                        <h2 class="nav-link mt-1" style="color: blueviolet;">{{SellerName | titlecase}}</h2>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>