<h2 class="text-center mt-3" style="color: blueviolet;"><b>All Product List</b></h2>
<div class="container">
    <div *ngIf="ProductDeleteAlert" class="alert alert-success alert-dismissible fade show" role="alert">
        Product is Deleted Sucessfully.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="table-responsive">
        <table class="table align-middle table-striped table-hover" align="center">
            <thead class="table-dark" align="center">
                <tr>
                    <th scope="col">Product id</th>
                    <th scope="col">Img</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody align="center">
                <tr *ngFor="let item of Productlist; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td *ngIf="item.Product_img">
                            <img src='{{item.Product_img}}' alt="Product img" style="max-height: 9vh;max-width:80px ;">
                        </td>
                        <td *ngIf="!item.Product_img">
                            <img src='./assets/E3.png' alt="Product img" style="max-height: 9vh;max-width:80px ;">
                        </td>
                        <td>{{item.name}}</td>
                        <td>{{item.price}} Rs</td>
                        <td>{{item.category}}</td>
                        <td>{{item.Description}}</td>
                        <td class="mx-auto">
                            <fa-icon class="btn btn-danger" (click)="ConfirmDelete(content_delete)"  [icon]="DeleteIcon"></fa-icon>
                            <fa-icon class="btn btn-success m-1" (click)="ConfirmUpdate(content)" [icon]="UpdateIcon"></fa-icon>
                        </td>
                        
                        <ng-template #content let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title">Are you sure </h4>
                                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                            </div>
                            <div class="modal-body text-center">
                                <p>You want to update this Product details</p>
                                <button type="button" class="btn btn-outline-success" (click)="modal.close('Close click')" routerLink="/seller-product-update/{{item.id}}/">Update</button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                            </div>
                        </ng-template>

                        <ng-template #content_delete let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title">Are you sure </h4>
                                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                            </div>
                            <div class="modal-body text-center">
                                <p>You want to Delete this Product</p>
                                <button type="button" class="btn btn-outline-danger" (click)="ProductDelete(item.id)">Confirm Delete</button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                            </div>
                        </ng-template>      
                </tr>

            </tbody>
        </table>
    </div>
</div>