<h2 class="text-center mt-3" style="color: blueviolet;"><b>All Product List</b></h2>
<div class="container">
    <div *ngIf="ProductDeleteAlert" class="alert alert-success alert-dismissible fade show" role="alert">
        Product is Deleted Sucessfully.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="table-responsive">
        <table class="table align-middle table-striped table-hover" align="center">
            <thead class="table-dark" align="center">
                <tr>
                    <th scope="col">Product id</th>
                    <th scope="col">Img</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody align="center">
                <tr *ngFor="let item of Productlist; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td *ngIf="item.Product_img">
                            <img src='{{item.Product_img}}' alt="Product img" style="max-height: 9vh;max-width:80px ;">
                        </td>
                        <td *ngIf="!item.Product_img">
                            <img src='./assets/E3.png' alt="Product img" style="max-height: 9vh;max-width:80px ;">
                        </td>
                        <td>{{item.name}}</td>
                        <td>{{item.price}} Rs</td>
                        <td>{{item.category}}</td>
                        <td>{{item.Description}}</td>
                        <td class="mx-auto">
                            <fa-icon class="btn btn-danger" (click)="ProductDelete(item.id)" [icon]="DeleteIcon"></fa-icon>
                            <fa-icon class="btn btn-success m-1" routerLink="/seller-product-update/{{item.id}}/" [icon]="UpdateIcon"></fa-icon>
                        </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>